body {
  margin-top: 0px;
}
nav {
  position: absolute;
  top: 150px;
  width: 200px;
}
nav ul {
  list-style-type: none;
}
nav a {
  text-decoration: none;
}
section {
  border: 1px solid #000;
  margin-left: 225px;
  background-color: #eee;
  width: 900px;
}
